<div>
<div class="footer-links-sec">
    <div class="container">
        <div class="row">
            <div class="ft-link">
                <div class="col-lg-3 col-sm-3">
                    <h1>Pure Non Veg</h1>
                    <a href="#"> About Us</a>
                    <a href="#">Team Careers Blog</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Blog</a>
                    <a href="#">Sitemap</a>

                </div>
                <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR CUISINES</h1>
                    <a href="#"> Indian Restaurants</a>
                    <a href="#"> Chinese Restaurants</a>
                    <a href="#"> Pizza Restaurants</a>
                    <a href="#"> Cake Delivery</a>
                    <a href="#"> Italian Restaurants</a>
                    <a href="#">Mexican Restaurants</a>
                    <a href="#"> Punjabi Restaurants</a>
                    <a href="#">Fast Food Restaurants</a>

                </div>
                <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR delivery locations</h1>
                    <a href="#"> Domino's Pizza</a>
                    <a href="#"> Eatsome</a>
                    <a href="#"> Mast Kalandar </a>
                    <a href="#"> Subway</a>
                    <a href="#"> Pizza Corner</a>
                    <a href="#"> Mad Over Donuts </a>
                    <a href="#"> Mainland China</a>
                    <a href="#"> Baskin Robbins </a>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <h1>POPULAR RESTAURANTS</h1>
                    <a href="#">Domino's Pizza </a>
                    <a href="#">Eatsome</a>
                    <a href="#"> Mast Kalandar</a>
                    <a href="#">Subway </a>
                    <a href="#">Pizza Corner</a>
                    <a href="#">Mad Over Donuts</a>
                    <a href="#">Mainland China</a>
                    <a href="#">Baskin Robbins</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="copyright-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-sm-10">
                <p>© 2015 : purenonveg.com : all rights reserved : crafted and marketed by <a
                        href="http://infinistaconcepts.com/">infinista concepts</a></p>
            </div>
            <div class="col-lg-2 col-sm-2">
                <a href="#"><span>Privacy</span></a>&nbsp; &nbsp; . &nbsp; &nbsp;
                <a href="#"><span> Terms</span></a>
            </div>
        </div>
    </div>
</div>

<div class="footer-menu-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="ft-menu">

                    <a href="#">HOW TO ORDER </a>
                    <a href="#">VERIFY ORDER </a>
                    <a href="#">TRACK ORDER </a>
                    <a href="#"> FAQS</a>
                    <a href="#">CUSTOMER CARE</a>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="social-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="social">
                    <h1>Let's be Friends</h1>

                    <a href="http://facebook.com" class="icon-button facebook">
                        <div class="add-facebook"></div>
                        <span></span></a>
                    <a href="http://twitter.com/minimalmonkey" class="icon-button twitter">
                        <div class="add-twitter"></div>
                        <span></span></a>
                    <a href="#" class="icon-button google-plus">
                        <div class="add-insta"></div>
                        <span></span></a>
                    <a href="http://plus.google.com" class="icon-button google-plus">
                        <div class="add-gplus"></div>
                        <span></span></a>
                    <a href="http://plus.google.com" class="icon-button google-plus">
                        <div class="add-linked-in"></div>
                        <span></span></a>

                    <a href="http://plus.google.com" class="icon-button google-plus">
                        <div class="add-pintrest"></div>
                        <span></span></a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>