<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="logo-txt">
                    <a href="#"><img src="img/logo.png" alt=""/></a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">

                <nav class="menu-opener">
                    <div class="menu-opener-inner"></div>
                </nav>
                <nav class="menu">
                    <ul class="menu-inner1">

                        <a href="#" class="col-lg-3">
                            <li class="active1">Home</li>
                        </a>
                        <a href="#" class="col-lg-3">
                            <li>Order</li>
                        </a>
                        <a href="#" class="col-lg-3">
                            <li>Sign Up</li>
                        </a>
                        <a href="sign-in.html" class="col-lg-3">
                            <li>Sign In</li>
                        </a>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>