<div class="wrapper" id="nonVeg" >
    <div class="slidr-sec">
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    <li><img src="img/1920Cate_1008.jpg" alt="bg"
                             title="Order this prawns fried rice in the background!" id="wows1_0"/></li>
                    <li><img src="img/1920Cate_1015.jpg" alt="simple jquery slider"
                             title="Order this prawns fried rice in the background!" id="wows1_1"/></li>
                    <li><img src="img/bibimbap-recipe.jpg" alt="540x1920"
                             title="Order this prawns fried rice in the background!" id="wows1_2"/></li>
                    <p>abbbbb</p>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="order-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 z-in">
                        <div class="order-contain">
                            <div class="first-txt">
                                <h1>Order food online in Pune</h1>
                            </div>
                            <form>
                                <textarea id="search-area" id="Autocomplete" ng-autocomplete="result1"
                                          restaurants='restaurants' options="options1"
                                          placeholder="Type your delivery address (building name, landmark,road or area)"></textarea>
                                <input type="image" alt="Submit" src="img/search.png" ng-click="restaurantsList()"/>
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <input type="submit" value="YAYYY!"/>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <a href="#innr-con">
        <div class="discover-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="div-wid">
                            <div class="arr-img"></div>
                            <p>Discover what all we are offering</p>

                            <div class="arr-img1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="innr-con" id="innr-con">
        <a href="#" class="off-a">
            <div class="offer-sec" id="offer-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="off-view-1">
                                <img src="img/Offers.png" alt=""/>
                            </div>
                            <div class="off-view-2">
                                <img src="img/Offers1.png" alt=""/>
                            </div>

                            <P>click anywhere in this section to avail exciting offers!</P>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="#" class="lazy-a">
            <div class="lazy-bones-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="lazy-view-1">
                                <img src="img/Lazy_Bones.png" alt=""/>
                            </div>
                            <div class="lazy-view-2">
                                <img src="img/Lazy_Bones1.png" alt=""/>
                            </div>

                            <p>Specially designed section for all the lazy bums out there...</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="con-a">
            <div class="confused-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="con-view-1">
                                <img src="img/confused.png" alt=""/>
                            </div>
                            <div class="con-view-2">
                                <img src="img/confused1.png" alt=""/>
                            </div>

                            <p>that awkward moment when you have no idea what to eat. just click here!</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="cate-a">
            <div class="cate-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cat-view-1">
                                <img src="img/categories.png" alt=""/>
                            </div>
                            <div class="cat-view-2">
                                <img src="img/categories1.png" alt=""/>
                            </div>

                            <p>Okay just show me what you got in store</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>