   
    <div class="login-pg">
        <div class="container">
        <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h2>Log in for your stomach's sake!</h2>
                <form class="login-form">
                    <input type="text" id="u-name" placeholder="Username" />
                    <input type="password" id="pass" placeholder="Password" />
                    <input type="submit" id="submit" value="submit"/>
                </form>
                <div class="or-div"><p>OR</p></div>
                <div class="longin-options-div">
                   <div class="col-lg-12">
                    <div class="col-lg-6 rf" style="cursor: pointer;">
                    <a>
                        <div class="log-fb" ng-click="fbLogin()" ng-hide="isLoggedIn">
                            <span class="fb-img"></span>
                            Login with Facebook
                        </div>
                        <div id="fb-root">
        </div>
                    </a>                    
                    </div>
                    <div class="col-lg-6 lh" style="cursor: pointer;">
                    <a>
                      <div class="log-gp" id="googleSignIn" ng-click="gplusLogin()">
                          <span class="gp-img" id="signInButton"></span>
                            Login with Google+
                      </div>
                    </a>
                    </div>
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="creat-acc-txt">New to Pure Non Veg? <a href="#">Create a new account</a></div>
            </div>
        <div class="col-lg-3"></div>   
        </div>
        
    </div>
    
    
 
    <div class="how-to-order">
        <div class="container">
            <div class="order-links">
                <ul><li><a href="#">HOW TO ORDER </a></li>
                    <li><a href="#">VERIFY ORDER </a></li>
                    <li><a href="#">TRACK ORDER </a></li>
                    <li><a href="#">FAQS </a></li>
                    <li><a href="#">CUSTOMER CARE</a></li>
                </ul>    
                    
            </div>
        </div>
    </div>
    <div class="social-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                     <div class="social" >
                             <h1>Let's be Friends</h1>
                             
                                <a href="http://facebook.com" class="icon-button facebook"><div class="add-facebook"></div><span></span></a>
  <a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><div class="add-twitter"></div><span></span></a>
  <a href="#" class="icon-button google-plus"><div class="add-insta"></div><span></span></a>
<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-gplus"></div><span></span></a>
<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-linked-in"></div><span></span></a>

<a href="http://plus.google.com" class="icon-button google-plus"><div class="add-pintrest"></div><span></span></a>

                         </div>
                </div>
            </div>
        </div>
    </div>
   
 
<!--<script src="js/jquery.dlmenu.js"></script>
        <script>
            $(function() {
                $( '#dl-menu' ).dlmenu({
                    animationClasses : { classin : 'dl-animate-in-5', classout : 'dl-animate-out-5' }
                });
            });
        </script>-->

</body>
</html>
